<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <h1 th:text="Registre">Registre</h1>
    <form action="#"  th:action="@{/registration}" th:object="${usuari}" method="POST" >
      <div>
        <label th:text="nomUsuari">Usuari</label>
        <input type="text" id="nomUsuari" th:field="*{nomUsuari}"/>
        <p th:each="error: ${#fields.errors('nomUsuari')}" th:text="${error}">Error</p>
      </div>

      <div>
        <label th:text="contrasenya">Contrasenya</label>
        <input type="password" th:field="*{contrasenya}"/>
        <p th:each="error : ${#fields.errors('contrasenya')}" th:text="${error}">Error</p>
      </div>

      <div>
        <label th:text="repetirContrasenya">Repetir contrasenya</label>
        <input type="password" th:field="*{repetirContrasenya}"/>
      </div>
      <button type="submit" th:text="Submit" style = "background-color:seagreen;">VALE</button>
    </form>

    <a th:href="@{/login}" th:text="Login">login</a>
  </body>
</html>